.facilityRegistryLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25%;
  margin-right: 10%;
  padding: 10px 10px;
  background-color: #fff;
  row-gap: 10px;
}
.facilityFiltersLayout {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 100%;
}
.filterItem {
  width: 30%;
}
.searchBtnContainer {
  display: flex;
  flex-direction: column;
  padding-top: 6%;
}
